h1{

    text-align: center;
    font-size: 69px;
    font-family: 'Permanent Marker', cursive;
    color:red;

}
h2{
    text-align: center;
    font-size: 69px;
    font-family: 'Kaushan Script', cursive;
    color: purple;

}