body{
    background-image: url(./images/window.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h2{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

ul{
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;

}