
.head{
    margin: 10px;
    grid-area: header;
    text-align: center;
    border-radius: 5px;
    
    
}
.main{
    margin: 10px;
    grid-area: main;
    background-color:aqua;
    font-family: 'Helvetica', 'Arial', sans-serif;
    border-radius: 5px;

}

  
.aside{
    margin: 10px;
    background:white;
    grid-area: aside;
    text-align: center;
    border-radius: 5px;
    
    }
.footer{
    margin: 10px;
    background:white;
        grid-area: footer;
        font-size: 1fr;
        text-align: center;
        
   
        
        
    }
    

body {
    
    background:url(./images/tornnado.jpg);
    
    /*height: 100vh;
    width: 100vw;*/
    display: grid;

       
         justify-content: space-between;

         grid-template-areas:
         "header header header header"
         "main main aside aside"
        "footer footer footer footer";
        grid-gap: 10px;
 
  padding: 10px;
}
  
  
  
  #list_section {
    text-align: center;
  }
  
  
  h1{ 
      
      font-size: 2px black;
      background: whitesmoke;
      border-radius: 5px;
  }
  h2{
    
    color: white;
    margin: 0px auto;
    padding: 20px;
  }
  ul {
    padding: 0;
  }
  
  li {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  p {
    background-color: #fff;
    color: #666;
    padding: 10px;
    display: inline-block;
    margin: 20px auto 20px auto;
    width: 80%;
    border-radius: 5px;
    text-align: center;
  }
  
  .item {
    background-color: #fff;
    color: #000;
  }
  
  input[type='text'] {
    font-size: 12px;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  input[type='submit'] {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border: none;
    padding: 5px;
  }
  
  #newItemButton {
    display: none;
  }
  
  #itemField {
    margin-top: 60px;
    width: 10%;
  }
  
  
button{
  margin: 10px;
  height: 45px;
  width: 300px;
}

#my-coordinates{
margin: 10px;
height: 25px;
background: white;

}
@media (max-width: 768px){

  .head{
    margin: 10px;
    grid-area: header;
    text-align: center;
    border-radius: 5px;
    
    
}
.main{
    margin: 10px;
    grid-area: main;
    background-color:aqua;
    font-family: 'Helvetica', 'Arial', sans-serif;
    border-radius: 5px;

}

  
.aside{
    margin: 10px;
    background:white;
    grid-area: aside;
    text-align: center;
    border-radius: 5px;
    
    }
.footer{
    margin: 10px;
    background:white;
        grid-area: footer;
        font-size: 1fr;
        text-align: center;
        
   
        
        
    }
    

body {
    
    background:url(./images/tornnado.jpg);
    
    /*height: 100vh;
    width: 100vw;*/
    display: grid;

       
         justify-content: space-between;

         grid-template-areas:
         "header header header header"
         "main main aside aside"
        "footer footer footer footer";
        grid-gap: 10px;
 
  padding: 10px;
}
  
  
  
  #list_section {
    text-align: center;
  }
  
  
  h1{ 
      
      font-size: 2px black;
      background: whitesmoke;
      border-radius: 5px;
  }
  h2{
    
    color: white;
    margin: 0px auto;
    padding: 20px;
  }
  ul {
    padding: 0;
  }
  
  li {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  p {
    background-color: #fff;
    color: #666;
    padding: 10px;
    display: inline-block;
    margin: 20px auto 20px auto;
    width: 80%;
    border-radius: 5px;
    text-align: center;
  }
  
  .item {
    background-color: #fff;
    color: #000;
  }
  
  input[type='text'] {
    font-size: 12px;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  input[type='submit'] {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border: none;
    padding: 5px;
  }
  
  #newItemButton {
    display: none;
  }
  
  #itemField {
    margin-top: 60px;
    width: 10%;
  }
  
  
button{
  margin: 10px;
  height: 45px;
  width: 300px;
}

#my-coordinates{
margin: 10px;
height: 25px;
background: white;

}

}
  @media (max-width: 576px){

    .head{
      margin: 10px;
      grid-area: header;
      text-align: center;
      border-radius: 5px;
      
      
  }
  .main{
      margin: 10px;
      grid-area: main;
      background-color:aqua;
      font-family: 'Helvetica', 'Arial', sans-serif;
      border-radius: 5px;
  
  }
  
    
  .aside{
      margin: 10px;
      background:white;
      grid-area: aside;
      text-align: center;
      border-radius: 5px;
      
      }
  .footer{
      margin: 10px;
      background:white;
          grid-area: footer;
          font-size: 1fr;
          text-align: center;
          
     
          
          
      }
      
  
  body {
      
      background:url(./images/tornnado.jpg);
      
      /*height: 100vh;
      width: 100vw;*/
      display: grid;
  
         
           justify-content: space-between;
  
           grid-template-areas:
           "header header header header"
           "main main aside aside"
          "footer footer footer footer";
          grid-gap: 10px;
   
    padding: 10px;
  }
    
    
    
    #list_section {
      text-align: center;
    }
    
    
    h1{ 
        
        font-size: 2px black;
        background: whitesmoke;
        border-radius: 5px;
    }
    h2{
      
      color: white;
      margin: 0px auto;
      padding: 20px;
    }
    ul {
      padding: 0;
    }
    
    li {
      background-color: #fff;
      color: #000;
      font-size: 20px;
      list-style-type: none;
      width: 20%;
      margin: 0px auto;
      border-radius: 3px;
      border: 1px solid #000;
      padding: 10px;
      margin-bottom: 10px;
    }
    
    p {
      background-color: #fff;
      color: #666;
      padding: 10px;
      display: inline-block;
      margin: 20px auto 20px auto;
      width: 80%;
      border-radius: 5px;
      text-align: center;
    }
    
    .item {
      background-color: #fff;
      color: #000;
    }
    
    input[type='text'] {
      font-size: 12px;
      padding: 6px;
      border: 1px solid #000;
      border-radius: 3px;
    }
    
    input[type='submit'] {
      background-color: #fff;
      color: #000;
      border-radius: 8px;
      border: none;
      padding: 5px;
    }
    
    #newItemButton {
      display: none;
    }
    
    #itemField {
      margin-top: 60px;
      width: 10%;
    }
    
    
  button{
    margin: 10px;
    height: 45px;
    width: 300px;
  }
  
  #my-coordinates{
  margin: 10px;
  height: 25px;
  background: white;
  
  }

  }