.header-1{
    grid-area: header;
}
#head{
    grid-area: header;
    text-align: center;
}
.item-2{
    grid-area: main;

}
.item-3{
    grid-area: aside;
    }

    .item-4{
        grid-area: footer;
    }
    

body {
    
    background-image: "tornnado.jpg";
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: grid;

        grid-template-columns: 2fr 2fr 1fr 2fr;
         grid-template-rows: 100px 200px 100px;

         grid-template-areas:
         "header header header header"
         "main main aside aside"
        "footer footer footer footer";
  }
  header{
      background: white;
      font: black;
  }
  
  h1{ 
      font-size: 2px black;
  }
  h2{
      font-size: 2px black;
  }
  